// setting for HOME page
body.index_cover {
    .utility-bar {
        position: sticky;

        .utility-bar__grid {
            height: 52px;

            .announcement-bar-slider {
                display: flex;

                .slider-button {
                    display: none;
                }

                .slideshow__slide {
                    flex: 1;
                    justify-content: space-between;
                    align-items: center;

                    .announcement-bar__announcement {
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // search, cart icon
    .header__search,
    .header__icon--cart {
        display: none;
    }

    // question, world, account icon
    .header__icon--question,
    .header__icon--world,
    .header__icon--account {
        img {
            width: 2rem;
            height: 2rem;
        }
    }
}

// setting for Listing collection page, collection page
body.collection_cover,
body.cart_cover,
body.list-collections_cover,
body.product_cover {

    // hide header icons: question, world, account
    .header__icon--question,
    .header__icon--world,
    .header__icon--account {
        display: none;
    }
}

body.collection_cover,
body.cart_cover,
body.product_cover {
    // hide Announcement bar
    .announcement-bar-slider {
        display: none;
    }
}