body.index_cover {

    // announcement bar
    .announcement-bar-section {
        position: sticky;
        top: 0;
    }

    // header menu
    .section-header {
        top: 53px;
        margin-bottom: 0;

        .header-wrapper {
            border-bottom: none;
            // transparent menu 
            background-color: transparent;
        }

        .header-wrapper.scrolled {
            background-color: white;
        }
    }

    //image banner
    .banner__content {
        .banner__box {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            text-align: center;

            h2.banner__heading {
                margin-top: 50px;
            }

            .banner__buttons {
                flex-wrap: nowrap !important;
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
                max-width: 50%;

                .button {
                    display: inline-flex;
                    min-width: 22rem;
                    margin: 20px 10px;
                    padding: 10px 20px;
                    text-decoration: none;
                }
            }
        }
    }

    // important !!!!!!!!!!!!!!!!!!!!!
    // fullpage section avoid to have more space in height
    .section {
        height: auto !important;
        // pointer-events: none;
    }
}

.menu-background-white {
    background-color: white !important;
}

@media screen and (max-width: 749px) {
    body.index_cover {
        .banner__content {
            .banner__box {
                .banner__buttons {
                    justify-content: center;
                    flex-wrap: wrap !important;
                    bottom: 100px;

                    .button {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }

        .video-banner {
            .banner__buttons {
                justify-content: center;
                flex-wrap: wrap !important;
                bottom: 20px;

                .button {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
@media screen and (min-width: 750px) {
    body.index_cover {
        // In order to solve the problem of wrong position when switching sections(using fullpage.js) 
        // caused by the difference in height between image-banners and video-banners.
        section {
            min-height: 100vh;
        }
    }
}