.mega-menu-collection-img{
    display: inline-block;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        background-color: white;
    }

    .mega-menu-title {
        text-align: center;
    }

}