.shopify-section-template--17624737841388__custom_liquid_8H6RqA{
    display: none;
}



.list-collections_cover{
    .shopify-section-header-sticky{
        margin-bottom: 0;
    }
.list-collections_wrapper{
    
    div.shopify-section{
        slideshow-component.slider-mobile-gutter {
            div.slideshow__controls{
                border: none;
            }
        }
            div.page-width{
                .modal {
                    display: none; 
                    position: fixed; 
                    z-index: 1000;
                    left: 0;
                    top: 0;
                    width: 100%; 
                    height: 100%; 
                    overflow: auto; 
                   // background-color: rgba(0, 0, 0, 0.5);
                   

                    .modal-content {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;                    
                        margin: 12% auto; 
                        padding: 20px;                    
                        width: 30%;
                        height: 500px; 
                        background: rgba( 255, 255, 255, 0.15 );
                        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                        backdrop-filter: blur( 12.5px );
                        -webkit-backdrop-filter: blur( 12.5px );
                        border-radius: 10px;
                        border: 1px solid rgba( 255, 255, 255, 0.18 );
                        .close {
                            color: #ffffff;  
                            font-size: 28px; 
                            font-weight: bold;
                            position: absolute;
                            top: 0;
                            right: 20px;
                            &:hover{
                                color: #ffffff; 
                                text-decoration: none; 
                                cursor: pointer; 
                            }
                        
                        }
                        h2{
                            color: #ffffff;
                            font-size: 38px;
                            font-weight: 600;
                        }
                        p{
                            color: #ffffff;
                            font-size: 42px;
                            font-weight: 600;
                            margin-top: 0;
                        }
                    }
                
                }
                
            }
        
    }

}

}