body.product_cover {
    .shopify-section.shopify-section-group-header-group.section-header.shopify-section-header-sticky {
        margin-bottom: 0;
    }
    .swatch-input__label{
        background-repeat: no-repeat;
        background-position: center;
        
        
    }
}