@charset "UTF-8";
body.index_cover .utility-bar {
  position: sticky;
}
body.index_cover .utility-bar .utility-bar__grid {
  height: 52px;
}
body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider {
  display: flex;
}
body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider .slider-button {
  display: none;
}
body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider .slideshow__slide {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider .slideshow__slide .announcement-bar__announcement svg {
  display: none;
}
body.index_cover .header__search,
body.index_cover .header__icon--cart {
  display: none;
}
body.index_cover .header__icon--question img,
body.index_cover .header__icon--world img,
body.index_cover .header__icon--account img {
  width: 2rem;
  height: 2rem;
}
body.collection_cover .header__icon--question,
body.collection_cover .header__icon--world,
body.collection_cover .header__icon--account,
body.cart_cover .header__icon--question,
body.cart_cover .header__icon--world,
body.cart_cover .header__icon--account,
body.list-collections_cover .header__icon--question,
body.list-collections_cover .header__icon--world,
body.list-collections_cover .header__icon--account {
  display: none;
}
body.collection_cover .announcement-bar-slider,
body.cart_cover .announcement-bar-slider,
body.list-collections_cover .announcement-bar-slider {
  display: none;
}
body.index_cover .announcement-bar-section {
  position: sticky;
  top: 0;
}
body.index_cover .section-header {
  top: 53px;
  margin-bottom: 0;
}
body.index_cover .section-header .header-wrapper {
  border-bottom: none;
  background-color: transparent;
}
body.index_cover .section-header .header-wrapper.scrolled {
  background-color: white;
}
body.index_cover .banner__content .banner__box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
body.index_cover .banner__content .banner__box h2.banner__heading {
  margin-top: 50px;
}
body.index_cover .banner__content .banner__box .banner__buttons {
  flex-wrap: nowrap !important;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
}
body.index_cover .banner__content .banner__box .banner__buttons .button {
  display: inline-flex;
  min-width: 22rem;
  margin: 20px 10px;
  padding: 10px 20px;
  text-decoration: none;
}
.shopify-section-template--17624737841388__custom_liquid_8H6RqA {
  display: none;
}
.list-collections_wrapper div.shopify-section div.page-width .modal {
  display: none; /* Dölj modalen som standard */
  position: fixed; /* Positionera modalen överst på sidan */
  z-index: 1000; /* Säkerställ att modalen är över andra element */
  left: 0;
  top: 0;
  width: 100%; /* Full bredd av fönstret */
  height: 100%; /* Full höjd av fönstret */
  overflow: auto; /* Aktivera rullningsfält om modalen är för stor */
  background-color: rgba(0, 0, 0, 0.5); /* Halvtransparent svart bakgrund */
  /* From https://css.glass */
}
.list-collections_wrapper div.shopify-section div.page-width .modal .modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fefefe; /* Vit bakgrund för modalens innehåll */
  margin: 15% auto; /* Centrera modalen vertikalt och lämna lite utrymme ovanför */
  padding: 20px; /* Lägg till utrymme runt modalens innehåll */
  border: 1px solid #888; /* Ram runt modalens innehåll */
  width: 50%;
  height: 300px; /* Bredden på modalens innehåll */
  background: yellow;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(174, 173, 173, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(55, 55, 55, 0.27);
}
.list-collections_wrapper div.shopify-section div.page-width .modal .modal-content .close {
  color: #111111; /* Grå färg för stängningsknappen */
  float: right; /* Flytta knappen till höger */
  font-size: 28px; /* Storlek på texten */
  font-weight: bold; /* Fetstil för att göra knappen tydlig */
}
.list-collections_wrapper div.shopify-section div.page-width .modal .modal-content .close:hover {
  color: #111111; /* Ändra färgen på knappen när man hovrar över eller fokuserar på den */
  text-decoration: none; /* Ta bort understrykning från texten */
  cursor: pointer;
}
.list-collections_wrapper div.shopify-section div.page-width .modal .modal-content h2 {
  color: #111111;
  font-size: 24px;
  font-weight: 600;
}
.list-collections_wrapper div.shopify-section div.page-width .modal .modal-content p {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
.menu-background-white {
  background-color: white !important;
}
@media screen and (max-width: 749px) {
  body.index_cover .banner__content .banner__box .banner__buttons {
    justify-content: center;
    flex-wrap: wrap !important;
    bottom: 100px;
  }
  body.index_cover .banner__content .banner__box .banner__buttons .button {
    padding: 0;
    margin: 0;
  }
  body.index_cover .video-banner .banner__buttons {
    justify-content: center;
    flex-wrap: wrap !important;
    bottom: 20px;
  }
  body.index_cover .video-banner .banner__buttons .button {
    padding: 0;
    margin: 0;
  }
}
.mega-menu-collection-img {
  display: inline-block;
}
.mega-menu-collection-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: white;
}
.mega-menu-collection-img .mega-menu-title {
  text-align: center;
}