body.cart_cover .shopify-section.shopify-section-group-header-group.section-header.shopify-section-header-sticky {
  margin-bottom: 0;
}

main.cart_wrapper {
  display: flex;
  flex-direction: row;
  width: calc(100% - 200px);
  margin: auto;
  padding-top: 50px;
  max-width: 1400px;
}

main.cart_wrapper cart-items {
  padding: 0;
  width: 100%;
}

main.cart_wrapper cart-items .page-width {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: unset;
}

main.cart_wrapper cart-items .cart-items__heading--quantity,
main.cart_wrapper cart-items .cart-item__quantity {
  padding-left: 0 !important;
}

main.cart_wrapper .cart__footer-wrapper {
  width: 40%;
  margin-left: 50px;
}

main.cart_wrapper .cart__footer-wrapper .page-width {
  max-width: unset;
  padding-left: 0;
  padding-right: 0;
}

main.cart_wrapper .cart__footer-wrapper .page-width .cart__blocks {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 0;
  width: 100%;
}

main.cart_wrapper .cart__footer-wrapper .page-width .cart__blocks .totals {
  display: flex;
  justify-content: space-between;
}

main.cart_wrapper .cart__footer-wrapper .page-width .cart__blocks .totals > * {
  font-size: 22px;
}

main.cart_wrapper .cart__footer-wrapper .page-width .cart__blocks .cart__checkout-button {
  width: 100%;
  height: 54px;
  max-width: unset;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #444;
}

@media screen and (min-width: 1280px) {
  body.cart_cover main.cart_wrapper .cart__footer-wrapper {
    padding-top: 80px;
  }
}

@media screen and (max-width: 1279px) {
  body.cart_cover main.cart_wrapper {
    flex-direction: column;
    width: calc(100% - 20px);
  }
  body.cart_cover main.cart_wrapper .cart__footer-wrapper {
    width: 100%;
    margin: 0 !important;
    padding-top: 50px;
  }
}

.footer {
  padding-top: 0;
}

.footer .footer__content-bottom {
  padding-top: 0;
}

body.index_cover .utility-bar {
  position: sticky;
}

body.index_cover .utility-bar .utility-bar__grid {
  height: 52px;
}

body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider {
  display: flex;
}

body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider .slider-button {
  display: none;
}

body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider .slideshow__slide {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

body.index_cover .utility-bar .utility-bar__grid .announcement-bar-slider .slideshow__slide .announcement-bar__announcement svg {
  display: none;
}

body.index_cover .header__search,
body.index_cover .header__icon--cart {
  display: none;
}

body.index_cover .header__icon--question svg,
body.index_cover .header__icon--world svg,
body.index_cover .header__icon--account svg {
  width: 2rem;
  height: 2rem;
}

body.collection_cover .header__icon--question,
body.collection_cover .header__icon--world,
body.collection_cover .header__icon--account,
body.cart_cover .header__icon--question,
body.cart_cover .header__icon--world,
body.cart_cover .header__icon--account,
body.list-collections_cover .header__icon--question,
body.list-collections_cover .header__icon--world,
body.list-collections_cover .header__icon--account,
body.product_cover .header__icon--question,
body.product_cover .header__icon--world,
body.product_cover .header__icon--account {
  display: none;
}

body.collection_cover .announcement-bar-slider,
body.cart_cover .announcement-bar-slider,
body.product_cover .announcement-bar-slider {
  display: none;
}

sticky-header.header-wrapper header.header {
  max-width: 1690px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1.5rem;
}

sticky-header.header-wrapper header.header .header__inline-menu {
  margin-left: 0%;
}

body.index_cover .announcement-bar-section {
  position: sticky;
  top: 0;
}

body.index_cover .section-header {
  top: 53px;
  margin-bottom: 0;
}

body.index_cover .section-header .header-wrapper {
  border-bottom: none;
  background-color: transparent;
}

body.index_cover .section-header .header-wrapper.scrolled {
  background-color: white;
}

body.index_cover .banner__content .banner__box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

body.index_cover .banner__content .banner__box h2.banner__heading {
  margin-top: 50px;
}

body.index_cover .banner__content .banner__box .banner__buttons {
  flex-wrap: nowrap !important;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
}

body.index_cover .banner__content .banner__box .banner__buttons .button {
  display: inline-flex;
  min-width: 22rem;
  margin: 20px 10px;
  padding: 10px 20px;
  text-decoration: none;
}

body.index_cover .section {
  height: auto !important;
}

.menu-background-white {
  background-color: white !important;
}

@media screen and (max-width: 749px) {
  body.index_cover .banner__content .banner__box .banner__buttons {
    justify-content: center;
    flex-wrap: wrap !important;
    bottom: 100px;
  }
  body.index_cover .banner__content .banner__box .banner__buttons .button {
    padding: 0;
    margin: 0;
  }
  body.index_cover .video-banner .banner__buttons {
    justify-content: center;
    flex-wrap: wrap !important;
    bottom: 20px;
  }
  body.index_cover .video-banner .banner__buttons .button {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 750px) {
  body.index_cover section {
    min-height: 100vh;
  }
}

.shopify-section-template--17624737841388__custom_liquid_8H6RqA {
  display: none;
}

.collection__title {
  padding: 0 0rem;
  margin: 0 1.5rem;
}

.list-collections_cover .shopify-section-header-sticky {
  margin-bottom: 0;
}

.list-collections_cover .list-collections_wrapper div.shopify-section slideshow-component.slider-mobile-gutter div.slideshow__controls {
  border: none;
}

.list-collections_cover .list-collections_wrapper div.shopify-section div.page-width {
  max-width: 1690px;
  margin: 0 1.5rem;
  padding-left: 0;
  padding-right: 0;
}

.list-collections_cover .list-collections_wrapper div.shopify-section div.page-width .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.list-collections_cover .list-collections_wrapper div.shopify-section div.page-width .modal .modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 12% auto;
  padding: 20px;
  width: 30%;
  height: 500px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.list-collections_cover .list-collections_wrapper div.shopify-section div.page-width .modal .modal-content .close {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
}

.list-collections_cover .list-collections_wrapper div.shopify-section div.page-width .modal .modal-content .close:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.list-collections_cover .list-collections_wrapper div.shopify-section div.page-width .modal .modal-content h2 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
}

.list-collections_cover .list-collections_wrapper div.shopify-section div.page-width .modal .modal-content p {
  color: #ffffff;
  font-size: 42px;
  font-weight: 600;
  margin-top: 0;
}

@media screen and (max-width: 450px) {
  .list-collections_wrapper .shopify-section .content-container .video-banner-content .banner__buttons {
    justify-content: center;
    /* .button--primary{

    min-width: 15rem;
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    }
    .button--secondary{

    min-width: 12rem;
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    } */
  }
  .list-collections_wrapper .shopify-section .content-container .video-banner-content .banner__buttons .button {
    width: 15rem;
    margin: 5px 10px;
  }
}

body.product_cover .shopify-section.shopify-section-group-header-group.section-header.shopify-section-header-sticky {
  margin-bottom: 0;
}

body.product_cover .swatch-input__label {
  background-repeat: no-repeat;
  background-position: center;
}

.mega-menu-collection-img {
  display: inline-block;
}

.mega-menu-collection-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: white;
}

.mega-menu-collection-img .mega-menu-title {
  text-align: center;
}

.collection_cover .spf-product-card__title {
  font-weight: bold;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid .gf-controls-container .gf-controls-search-form .gf-controls-search-input:focus-visible {
  box-shadow: none;
  background: #e8e8e8;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid ul#gf-products div {
  border: 1px solid #e8e8e8 !important;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid ul#gf-products div .spf-product-card .spf-product-card__inner a.open-quick-view {
  top: 26px;
  border: 1px solid #e8e8e8;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid ul#gf-products div .spf-product-card .spf-product-card__inner .span.spf-product__label {
  top: 29px;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid ul#gf-products div .spf-product-card .spf-product-card__inner .spf-product__label-soldout {
  background-color: #767575;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid ul#gf-products div .spf-product-card .spf-product-card__inner .spf-product__info .spf-product-card__vendor {
  display: none;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid ul#gf-products div .spf-product-card .spf-product-card__inner .spf-product__info .spf-product-card__title {
  font-weight: bold;
}

.collection_cover .collection_wrapper #shopify-section-template--17624738300140__product-grid div.color-scheme-1 div .product-grid-container .page-width .gf-grid ul#gf-products div .spf-product-card .spf-product-card__inner .spf-product__info .spf-product-card__price-wrapper .spf-product-card__price {
  font-weight: bold;
}