body.index_cover .utility-bar__grid {
  height: 52px;
}
body.index_cover .utility-bar__grid .announcement-bar-slider {
  display: flex;
}
body.index_cover .utility-bar__grid .announcement-bar-slider .slider-button {
  display: none;
}
body.index_cover .utility-bar__grid .announcement-bar-slider .slideshow__slide {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
body.index_cover .utility-bar__grid .announcement-bar-slider .slideshow__slide .announcement-bar__announcement svg {
  display: none;
}
body.index_cover .header__search,
body.index_cover .header__icon--cart {
  display: none;
}
body.index_cover .header__icon--question img,
body.index_cover .header__icon--world img,
body.index_cover .header__icon--account img {
  width: 2rem;
  height: 2rem;
}
body.collection_cover .header__icon--question,
body.collection_cover .header__icon--world,
body.collection_cover .header__icon--account,
body.list-collections_cover .header__icon--question,
body.list-collections_cover .header__icon--world,
body.list-collections_cover .header__icon--account {
  display: none;
}
body.collection_cover .announcement-bar-slider,
body.list-collections_cover .announcement-bar-slider {
  display: none;
}
.mega-menu-collection-img {
  display: inline-block;
}
.mega-menu-collection-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: white;
}
.mega-menu-collection-img .mega-menu-title {
  text-align: center;
}